@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham-Light";
  src: url("../assets/Gotham/GothamLight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Medium";
  src: url("../assets//Gotham/GothamMedium.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Bold";
  src: url("../assets/Gotham/GothamBold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham-Book";
  src: url("../assets/Gotham/GothamBook.ttf");
  font-weight: normal;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
}
