@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .logoImage {
    z-index: 0;
  }

  .bgwrap {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
    top: 0;
  }
  .header {
    font-family: "Gotham-Light";
    font-size: 3.2vmin;
    letter-spacing: 0.2rem;
    z-index: 1;
    position: relative;
    text-transform: uppercase;
    color: white;
    line-height: 2;
    display: inline-block;
    transform: scale(1.2, 1);
    -webkit-transform: scale(1.2, 1);
    -moz-transform: scale(1.2, 1);
    -o-transform: scale(1.2, 1);
  }
  #top {
    margin-top: 10%;
  }
  .subtext {
    font-size: 1.4vw;
    font-family: "Gotham-Light";
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
    margin-top: 10%;
    line-height: 2;
    transform: scale(1.2, 1);
    -webkit-transform: scale(1.2, 1);
    -moz-transform: scale(1.2, 1);
    -o-transform: scale(1.2, 1);
  }

  @media screen and (width: 1920px) {
    .phoneNumber {
      font-size: 1vw;
      font-family: "Gotham-Light";
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: red;
      text-align: center;
      transform: scale(1.2, 1);
      -webkit-transform: scale(1.2, 1);
      -moz-transform: scale(1.2, 1);
      -o-transform: scale(1.2, 1);
    }
  }

  .phoneBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4%;
    max-height: 60px;
    border: 1px solid white;
    width: 32vw;
  }
  .phoneNumber {
    font-size: 1vw;
    font-family: "Gotham-Light";
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: white;
    text-align: center;
    transform: scale(1.2, 1);
    -webkit-transform: scale(1.2, 1);
    -moz-transform: scale(1.2, 1);
    -o-transform: scale(1.2, 1);
    margin-top: 2%;
  }

  @media screen and (max-width: 1100px) {
    .phoneBox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4%;
      max-height: 60px;
      border: 1px solid white;
      width: 48vw;
    }
    .subtext {
      font-size: 2vw;
      font-family: "Gotham-Light";
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: white;
      margin-top: 10%;
      line-height: 2;
      transform: scale(1.2, 1);
      -webkit-transform: scale(1.2, 1);
      -moz-transform: scale(1.2, 1);
      -o-transform: scale(1.2, 1);
    }
    .phoneNumber {
      font-size: 1.5vmin;
      font-family: "Gotham-Light";
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: white;
      text-align: center;
      transform: scale(1.2, 1);
      -webkit-transform: scale(1.2, 1);
      -moz-transform: scale(1.2, 1);
      -o-transform: scale(1.2, 1);
      margin-top: 2%;
    }
  }

  @media screen and (max-width: 800px) {
    .phoneBox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4%;
      max-height: 60px;
      border: 1px solid white;
      width: 48%;
      max-width: 500px;
    }
    .phoneNumber {
      font-size: calc(0.2rem + 1vw);
      font-family: "Gotham-Light";
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: white;
      text-align: center;
      transform: scale(1.2, 1);
      -webkit-transform: scale(1.2, 1);
      -moz-transform: scale(1.2, 1);
      -o-transform: scale(1.2, 1);
      margin-top: 2%;
    }
    .subtext {
      font-size: 2vmin;
      font-family: "Gotham-Light";
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: white;
      margin-top: 10%;
      line-height: 2;
      transform: scale(1.2, 1);
      -webkit-transform: scale(1.2, 1);
      -moz-transform: scale(1.2, 1);
      -o-transform: scale(1.2, 1);
    }
  }
  @media screen and (max-width: 500px) {
    .logoImage {
      padding-top: 20%;
    }
    .phoneBox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3%;
      max-height: 60px;
      border: 0.5px solid white;
      width: 60%;
      max-width: 500px;
    }
    .phoneNumber {
      font-size: calc(0.15rem + 1vw);
      font-family: "Gotham-Light";
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: white;
      text-align: center;
      transform: scale(1.2, 1);
      -webkit-transform: scale(1.2, 1);
      -moz-transform: scale(1.2, 1);
      -o-transform: scale(1.2, 1);
      margin-top: 2%;
    }
    .subtext {
      font-size: 2vmin;
      font-family: "Gotham-Light";
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: white;
      margin-top: 10%;
      line-height: 2;
      transform: scale(1.2, 1);
      -webkit-transform: scale(1.2, 1);
      -moz-transform: scale(1.2, 1);
      -o-transform: scale(1.2, 1);
    }
  }
  @media screen and (max-width: 400px) {
    .logoImage {
      padding-top: 20%;
    }
    .phoneBox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4%;
      max-height: 60px;
      border: 1px solid white;
      width: 65%;
      max-width: 500px;
    }
    .phoneNumber {
      font-size: 1.7vmin;
      font-family: "Gotham-Light";
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: white;
      text-align: center;
      transform: scale(1.18, 1);
      -webkit-transform: scale(1.18, 1);
      -moz-transform: scale(1.18, 1);
      -o-transform: scale(1.18, 1);
      margin-top: 2%;
    }
    .subtext {
      font-size: 2.2vmin;
      font-family: "Gotham-Light";
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: white;
      margin-top: 10%;
      line-height: 2;
      transform: scale(1.2, 1);
      -webkit-transform: scale(1.2, 1);
      -moz-transform: scale(1.2, 1);
      -o-transform: scale(1.2, 1);
    }
  }
  @media screen and (max-width: 350px) {
    .logoImage {
      padding-top: 20%;
    }
    .phoneBox {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 4%;
      max-height: 60px;
      border: 0.5px solid white;
      width: 70%;
      max-width: 500px;
    }
    .subtext {
      font-size: 2vmin;
      font-family: "Gotham-Light";
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: white;
      margin-top: 10%;
      line-height: 2;
      transform: scale(1.2, 1);
      -webkit-transform: scale(1.2, 1);
      -moz-transform: scale(1.2, 1);
      -o-transform: scale(1.2, 1);
    }
  }
}
